# Banco de dados
DATABASE_URL="postgresql://usuario:senha@localhost:5432/nailstyle"

# Servidor
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=sua_chave_secreta_super_segura_aqui
JWT_EXPIRY_ACCESS=15mv
JWT_EXPIRY_REFRESH=7d
